* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: 'Poppins';
  background-color: #fff;
  color: #000;
}


/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  padding: 0 3%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .logo img {
  height: 50px;
  margin-top: 10px;
}

.navbar .search {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
}

.navbar .search input[type="text"] {
  border: none;
  outline: none;
  width: 400px;
  padding: 5px;
}

.navbar .search button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.navbar .navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .navbar-nav a {
  display: flex;
  align-items: center;
  color: #222;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;
  font-size: 14px;
}

.navbar .navbar-nav a ion-icon {
  margin-right: 5px;
}
/* Navbar End */

h2 {
  position: sticky;
  font-weight: bold;
  color: #ff9900;
  padding: 0 10px;
  margin-top: 20px;
}

/* Baris Terbaru */
.terbaru {
  scroll-behavior: smooth;
  overflow: hidden;
  margin: auto;
  white-space: nowrap;
  margin-top: 40px;
  max-width: 900px;
  border-radius: 10px;;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
}

.terbaru h2 {
  margin-top: 40px;
}

.comic-list {
  display: flex;
  justify-content: space-between;
  width: 750px;
  margin: 20px auto;

}

.comic-items {
  position: relative;
  overflow: hidden;
  width: 110px;
}

.comic-items .cover-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 150%;
  overflow: hidden;
}

.comic-items img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.comic-items .tittle {
  margin-top: 5px;
  margin-bottom: 5px;
}

.comic-items .tittle a {
  font-weight: 500;
  font-size: 14px;
  color: #222;
  text-decoration: none;
}

.tittle p {
  font-size: 10px;
}

.update {
  margin: 0;
  font-style: italic;
  color: #a1a1a1;
}

.comic-items .tag {
  position: absolute;
  top: 10px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 5px 10px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 3px;
}
/* Terbaru End */



/* Populer */
.populer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 900px;
  margin: 20px auto;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.populer .komik-list {
  display: grid;  
  grid-template-columns: repeat(2, 1fr);
  margin: 20px auto;
  width: 780px;
}

.komik {
  display: flex;
  align-items: center;
  margin: 5px 10px;
}

.populer .komik .gambar {
  position: relative;
  display: inline-block;
  width: 110px;
  margin-left: 5px;
}

.populer .komik .gambar img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

.populer .komik .gambar .views {
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 5px;
  font-size: 12px;
  border-radius: 0 10px 0 0;
}

.views ion-icon {
  margin-right: 5px;
}

.informasi {
  flex: 1;
  margin: 0 10px;
}

.informasi h3 {
  margin-bottom: 10px;
  font-size: large;
}

.informasi p {
  margin-bottom: 5px;
  font-size: 10px;
}

.informasi .genre {
  font-weight: bold;
}

.informasi .update {
  color: gray;
}

.judul {
  font-size: 16px;
  margin-bottom: 10px;
}

.genre,
.update {
  font-size: 14px;
  margin-bottom: 5px;
}
/* Populer End */



/* Genre */
.genre-komik {
  margin: 10px auto;
  max-width: 900px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
}

.genre-options {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 20px;
  margin: auto;
}

.genre-options a {
  display: block;
  padding: 5px 10px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #ccc;
  color: #333;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  font-size: 10px;
}

.genre-options a:hover {
  background-color: #333;
  color: #fff;
}



@media screen and (min-width: 1025px) {
  .navbar-nav a ion-icon {
      display: none;
    }
}

/* Media Query untuk Tablet */
@media only screen and (max-width: 1024px) {

  /* Navbar */
  .navbar .logo img {
    height: 40px;
    margin-top: 10px;
  }

  .navbar .navbar-nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: blue;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

.navbar .navbar-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin: 0 auto;
    font-size: 10px;
    text-decoration: none;
  }

  .navbar .search input[type="text"] {
    width: 300px;
  }

.navbar-nav a ion-icon {
    display: flex;
    font-size: 30px;
    margin-bottom: 5px;
  }

.navbar .search {
    justify-content: right;
  }
  /* Navbar End */


  /* Terbaru */
  .terbaru {
    overflow-x: auto;
  }
  /* Terbaru End */


  /* Genre Komik */
  .genre-komik {
    margin-bottom: 80px;
  }
}



/* Media Query untuk Smartphone */
@media only screen and (max-width: 560px) {

  .navbar .navbar-nav {
    height: 60px;
  }

  .navbar .logo img {
    height: 30px;
  }

  .navbar .navbar-nav a ion-icon {
    font-size: 22px;
  }

  .navbar .navbar-nav a {
    font-size: 8px;
  }

  .navbar .search input[type="text"] {
    width: 140px;
  }
  /* Navbar End */


  h2 {
    font-size: 18px;
  }

  /* Terbaru */
  .terbaru {
    overflow-x: auto;
  }

  .terbaru h2 {
    margin-top: 20px;
  }

  .terbaru .comic-list {
    padding: 0 2%;
  }
  /* Terbaru End */


  /* Populer */
  .populer .komik-list {
    grid-template-columns: auto;
    width: 300px;
  }
  /* Populer End */


  /* Genre Komik */
  .genre-komik {
    margin-bottom: 70px;
  }
  .genre-options {
    grid-template-columns: repeat(3, 1fr);
    overflow-x: auto;
    font-size: 12px;
  }
}
